# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Streamlit / local secrets
.streamlit/secrets.toml

# Dagster local state
.dagster/

# R / RStudio
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Local editor / IDE
.vscode/
.idea/

# Dev containers
.devcontainer/

# Temporary files
*.log
*.tmp
